extends ../layout

block content
  div(class="row")
    div(class="col-lg-offset-1 col-lg-10 jumbotron")
        if user
          if user.kind=="Hyrulean"
            h2 User type: #{user.kind}
            ul
              li Technological adress: #{user.technologicalAdress}
              li Firstname: #{user.firstname}
              li Lastname: #{user.lastname}
          if user.kind=="Counsellor"
            h2 User type: #{user.kind}
            p TODO:
            ul
              li Counsellors can access his clients' pouches.
              li but can't do any operation
          if user.isAdmin
            h2 User type: Admin
            blockquote(class="blockquote") Fourmi adulte dont le but est de protéger et nourrir la fourmillière.
            p TODO: 
            ul
              li Admin can link hyruleans to counsellors.
              li Admin can do the same shit as counsellors.